<div class="form-section d-flex justify-content-center align-items-center mb-3">
  <%= form_with model: @new_expense, html: { class:'bs' }, url: category_expenses_path do |f| %>
    <div class='text-center bg-dark text-white'>
      <h2 class='px-4 py-3 fs-3'>Add Transaction</h2>
    </div>

    <div class='px-4 pb-4'>
      <div class="field mb-3">
        <%= f.label :name, class:'form-label' %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:'form-control', required: true %>
      </div>

      <div class="field mb-3">
        <%= f.label :amount, class:'form-label' %><br />
        <%= f.number_field :amount, autocomplete: "amount", class:'form-control', required: true, step: "0.01" %>
      </div>

      <div class="actions d-grid mb-3">
        <%= f.submit "Save", class: 'btn btn-outline-primary' %>
      </div>

      <div class="d-flex justify-content-center back-btn">
        <%= link_to "< Back", "/categories/#{@category.id}/expenses", class:'text-center' %>
      </div>
    </div>
  <% end %>
</div>
